.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #f0f2f5;
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom: 1px solid #dcdfe3;
}
.user-dropdown {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-select-container{
  display: flex;
  align-items: center;
  gap:8px;
}

.user-label {
  font-weight: 500;
  color: #000;
}
